.homeContainer{
  padding-bottom: 50px;
}

.homeContainer span {
  width: 100%;
  text-align: center;
}

.homeContainer h1 {
  margin: 50px 0;
  color: grey;
  font-size: 40px;
}

.cards {
  padding-inline-start: 0px;
  margin: 40px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  gap: 100px;
}

.card {
  width: 100%;
  text-align: center;
  transition: 500ms;
}

.card img {
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 0 10px black;
}

.card:hover{
  transform: scale(1.02);
}

.card span{
  color: grey;
  font-size: 1.4rem;
}


@media screen and (max-width: 550px) {
  .homeContainer h1 {
    margin: 50px 0;
    padding: 0 10px;
    font-size: 35px;
  }
}