body {
  box-sizing: border-box;
  margin: 0;
  background-image: linear-gradient(to left bottom, #1a191b, #22273f ,#150a50);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'bebas neue', sans-serif;
}

li{
  list-style: none;
}

.active {
  text-decoration: underline;
}

p{
  margin: 0;
}